.cross {
    --cross-size: calc(var(--size)/4);
    background: var(--dark-blue);
    height: var(--cross-size);
    position: relative;
    width: calc(var(--cross-size)*.2);
    transform: rotate(45deg);
}
.cross:after {
    background: var(--dark-blue);
    content: "";
    height: calc(var(--cross-size)*.2);
    left: calc(var(--cross-size)*-.4);
    position: absolute;
    top: calc(var(--cross-size)*.4);
    width: var(--cross-size);
}

